body,
#nameInput {
  font: 13px "Courier New", sans-serif;
  margin-bottom: 10px
}

#textArea{
  font: 13px "Courier New", sans-serif;
}

.chat {
  max-width: 300px;
}

.chat-messages,
.char-name {
  border: 1px solid #bbb;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-messages {
  border: 1.5px black solid;
  padding: 10px;
  max-height: 370px;
  min-height: 100px;
  overflow-y: scroll;
  background-color: #B0C4DE
}

.chat-name {
  width:100%;
  padding:10px;
}

.chat{
  width:100%;
}

.fullChatBox{
  margin-left:150px;
  margin-right: 150px;
}
